.about {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
}

.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.floor-overlay {
  display: inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.profile img {
  max-width: 500px;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
  display: block;
}

.profile h1 {
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  right: 8px;
  color: white;
  font-size: 3.5rem;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
  font-family: "Playfair Display", serif;
}

.about .description {
  max-width: 600px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  height: 80%;
  padding: 32px 32px 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about .description h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  opacity: 0.9;
  font-weight: lighter;
}

.about .description p {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: justify;
  margin-top: 0;
}

.description .icons {
  display: flex;
  gap: 32px;
  align-self: flex-end;
}

.description .icons img {
  width: 35px;
}
