.about {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  align-items: center;
}

.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.profile img {
  max-width: 600px;
  height: 100%;
  object-fit: cover;
}

.profile h1 {
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  right: 8px;
  color: white;
  font-size: 2.25rem;
}

.about .description {
  max-width: 600px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  height: 80%;
  padding: 8px;
}

.about .description h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  opacity: 0.9;
  font-weight: lighter;
}
