.contact {
  padding: 32px 128px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  background-color: #0891b3;
  color: white;
}

.contact .information {
  line-height: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact .information h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: lighter;
}

.information address {
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.information address,
.information p {
  font-size: 1.25rem;
}

.contact picture img {
  width: 100%;
  max-width: 900px;
  max-height: 500px;
  object-fit: cover;
}
