.work {
  margin: 128px;
}

.projects {
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
}

.work h2 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

@media (max-width: 972px) {
  .work h2 {
    text-align: center;
  }

  .work {
    margin: 128px 8px;
  }

  .projects {
    gap: 128px;
  }
}
